<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
         bootstrap="./test/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit tests">
            <directory suffix="Test.php">./test/unit</directory>
        </testsuite>
        <testsuite name="Integration tests">
            <directory suffix="Test.php">./test/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
</phpunit>
