<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="./test/bootstrap.php" colors="true" cacheResult="false">
  <testsuites>
    <testsuite name="Tests">
      <directory>./test</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="PROJECT_ROOT_DIR" value="./"/>
  </php>
</phpunit>
