{% extends "base.html.twig" %}

{% block content %}
    <p><a href="{{ url('list_meetups') }}">&laquo; List meetups</a></p>
    <h1>Schedule a meetup</h1>

    <form method="post" action="{{ url('schedule_meetup') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" id="name" name="name" type="text"/>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="scheduledFor">Schedule for:</label>
            <input class="form-control" id="scheduledFor" name="scheduledFor" type="datetime" aria-describedby="scheduledForHelpBlock"/>
            <span id="scheduledForHelpBlock" class="help-block">Use any PHP <a href="http://php.net/manual/en/datetime.formats.php">date/time format</a>.</span>
        </div>

        <button type="submit"class="btn btn-default">Schedule this meetup</button>
    </form>
{% endblock %}