{% extends "base.html.twig" %}

{% block content %}
    <h2>{{ organizer.name }} presents: {{ meetup.name.asString }}</h2>

    <p><small>{{ meetup.scheduledFor.asString|date() }}</small></p>
    <p>{{ meetup.description.asString }}</p>

{% endblock %}
