<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="{{ path("meetup_details", { 'id' : meetup.meetupId }) }}">{{ meetup.name }}</a>
        </h3>
    </div>
    <div class="panel-body">
        <p><small>{{ meetup.scheduledFor|date() }}</small></p>
        <p><a href="{{ path("meetup_details", { 'id' : meetup.meetupId }) }}" class="btn btn-success">Read more</a></p>
    </div>
</div>
